    @import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');


@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF");
    src: url("../fonts/sf-pro-display-cufonfonts/SFPRODISPLAYSEMIBOLDITALIC.OTF");
    src: url("../fonts/sf-pro-display-cufonfonts/SFPRODISPLAYHEAVYITALIC.OTF");
    src: url("../fonts/sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF");
    src: url("../fonts/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF");;
    font-style: normal;
}

@font-face {
    font-family: "Rubik One";
    src: url("../fonts/RubikOne-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body{
    background: #000;
    overflow-x: hidden;
}
/*---------------------HEADER------------------------*/

.header{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}

.header__up{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo{
    margin-top: 47px;
}


.header__down__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}



.header__text{
    margin-top: 105px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 81px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.header__border{
    margin: 0 auto;
    margin-top: 23px;
    margin-bottom: 22px;

    width: 246px;
    height: 28px;
    background: linear-gradient(90.26deg, #5FA2CF 5.29%, #5229C7 101.15%);

}


.header__sub__text{
    max-width: 604px;
    margin: 0 auto;

}

.header__sub__text {
    margin-bottom: 73px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    
}

.header__icons{
   display: flex;
   justify-content: center;
   align-items: center;

   
}

.header__icons__wrap{
    min-width: 228px;

    display: flex;
    justify-content: space-between;
}

/*---------------------ABOUT COMPANY------------------------*/


.about__company{
    background-color: #000;
    color: #fff;
    margin-top: 100px;
}

.container__company {
    max-width: 1322px;
    margin: 0 auto;

}
.about__company__content {
    background: #232323;
    border-radius: 30px;
    height: 100%;
    padding-bottom: 150px;
    
}

.about__company__content__wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.about__company__text {
    padding: 56px 0px 96px 57px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size:  15px;
    line-height: 19px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.left {
    max-width: 600px;
    
}

.left h2 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}



.left span {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    
    background: linear-gradient(95.08deg, #294CFF 7.21%, #8138DF 61.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.span_2{
    display: inline-block;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;

    line-height: 48px;
    text-transform: uppercase;
    
    background: linear-gradient(91.85deg, #C82BEB 3.96%, #F134BA 59.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.span_3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;

    line-height: 48px;
    text-transform: uppercase;
    
    background: linear-gradient(93.8deg, #4B1EFF 7.79%, #D318D7 95.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.right{
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}


.about__company__card{
    display: flex;
    justify-content: space-evenly;
}

.number__text{
    position: relative;

}

.number__text h4 {
    margin-right: 29px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.about__company__card h3 {
    margin-left: 25px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}


.about__company__card h5 {
    margin-left: 55px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.about__company__card h6 {
    margin-left: 30px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    
    color: #FFFFFF;

}

.line{
    position: absolute;
    bottom: -12px;
    right: 0px;

    background: #626262;
    border-radius: 10px;
    height: 73px;
    width: 4px;
}

.line2{
    position: absolute;
    bottom: -12px;
    right: -28px;

    background: #626262;
    border-radius: 10px;
    height: 73px;
    width: 4px;
}

.line3{
    position: absolute;
    bottom: -12px;
    right: -6px;

    background: #626262;
    border-radius: 10px;
    height: 73px;
    width: 4px;
}



/*---------------------PORTFOLIO------------------------*/


.portfolio{
  margin-top: 40px;

}

.portfolio__container{
    max-width: 1321px;
    margin: 0 auto;
}

.portfolio__content{
    background: #232323;
    border-radius: 30px;
    height: 100%;
    padding-bottom: 81px;
    padding-right: 110px;
    padding-left: 56px;
}

.portfolio__content__wrap{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio__up__text{
    padding-top: 52px;
     
}


.portfolio__up__text h2 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.portfolio__left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 600px;
}

.portfolio__up__text{
    padding-bottom: 20px;
  
}


.portfolio__up__text h2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #FFFFFF;
}


.portfolio__text h2 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.portfolio__text span {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    
    background: linear-gradient(92.91deg, #6B2ECE 30.71%, #D039E8 106.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.span_4{
    display: inline-block;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    
    color: #E24E4E;
}


.span_5{
    display: inline-block;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    
    background: linear-gradient(92.12deg, #F227B9 23.99%, #D90B55 55.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


.span_6{
    display: inline-block;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    
    background: linear-gradient(97.45deg, #221091 66.39%, #E33EFE 101.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.span_7{
    display: inline-block;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    
    background: linear-gradient(93.1deg, #221091 3.26%, #E33EFE 33.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
}

.project{
    margin-top: 10px;
    margin-left: 30px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #FFFFFF;
}







.images{
    
      margin-top: 40px;
}

.images__container{
    margin: 0 auto;
    max-width: 1321px;
}

.images__content__up{
    display: flex;
    gap: 40px;
}

.imges_img{
    width: 48%;

}

.img1{
    width: 48%;
}
.imges_img img{
    height: 100%;
}

.images__content__up img {
    border-radius: 30px;
}


.images__content__down{
    margin-top: 50px;

    display: flex;
    gap: 40px;
}
.images__content__down img{
    border-radius: 40px;
}


.see__all{
   margin-top: 38px;
   display: flex;
   justify-content: center;
   align-items: center;

   background: #232323;
   border-radius: 30px;
}

.see__all__wrap{
    padding: 28px 0px;

    min-width: 101px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.see__all a {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.arrow__right {
    margin-top: 10px;
}



/*---------------------REASONS WHY------------------------*/

.reasons__why {
    margin-top: 60px;
   
}
.reasons__why__container {
    max-width: 1321px;
    height: 100%;
    margin: 0 auto;
}
.reasons__why__content {
    background: #232323;
    width: 100%;
    min-height: 759px;
    border-radius: 30px;
    padding-right: 50px;
    padding-left: 56px;
}

.why__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 65px;
}

.mob_version{
    display: none;
}

.first_reason {
    background-color: #1B1919;
    width: 610px;
    height: 100%;
    padding-top: 72px;
    border-radius: 20px;

    padding-bottom: 80px;
}

.second_and_third {
   
    width: 45%;
    height: 100%;
}

.img_reason{
    margin: 0 auto;
    width: 307px;
    height: 248px;
}

.conntent_text{
    width: 510px;
    margin: 0 auto;
    margin-top: 55px;
    color: white;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    
}



.second_and_third{
    display: flex;
    width: 560px;
    flex-direction: column;
   
}

.second_reason{
    background-color: #1B1919;
    height: 240px;
    width: 100%;
    border-radius:20px;
     display: flex;
     align-items: center;
     justify-content: center;
  
    
}

.third_reason{
    background-color:#1B1919 ;
    height: 290px;
    margin-top: 30px;
    border-radius:20px;

}


.main__row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.main__img{
    width: 40%;
    height: 141px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main_title{
    font-size: 24px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'SF Pro Display';
}

.main_title_and_subtitle{
    width: 45%;
}

.main_subtitle{
    width: 200px;
    margin-top: 15px;
}

.main_subtitle p{

    font-size: 14px;
    color: #878787;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'SF Pro Display';

}

._2{
    margin-top: 70px;
}

.__2{
    margin-left: 10px;
}


.our_servise{
    max-width: 1321px;
    height: 100%;
    margin: 0 auto;
    background-color: #232323;
    padding-top: 45px;
    margin-top: 42px;
    border-radius: 30px;
    padding-left: 41px;
    padding-right: 41px;
    padding-bottom: 42px;
}

.__our_text h2 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.our_serivce__row{
     max-width:1232px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
}

.our_serivce_box{
    background: #1B1919;
    width: 48%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    margin-top: 46px;
}

.serivece_img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.service_text{
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: 'SF Pro Display';
    width: 350px;
    margin-top: 50px;
    
}


.__ooas{
    width: 412px;
    position: relative;
    top:40px;
}

.__oass{
    position: relative;
    top:-20px;
}

.fullstack{
    background: #1B1919;
    width: 100%;
}

.fullstack{
    height: 490px;
    margin-top: 46px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 100%;

}

.fullstack__row{
    display: flex;
    justify-content: space-around;

    width: 100%;
    
}


.fullstack_text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 64px;
    font-family: 'SF Pro Display';
}

.opinion{
    max-width: 1321px;
    margin: 0 auto;
    height: 295px;
    margin-top: 40px;

}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #232323;
    
    height: 100%;
    border-radius: 30px;
    /* Center slide text vertically */

  }


  .img_of_clinet{
      width: 42px;
      margin: 0 auto;
      height: 42px;
  }

  .info_about_client{
      margin-top: 25px;
  }

  .about_text{
      font-family: 'SF Pro Display';
  }

  .about_text .about_titel p{
      font-size: 16px;
      font-weight: 700;

  }

   .about_subtitle p{
    font-size: 10px;
    color: #595656;
    margin-top: 2px;

  }

  .symbol{
      z-index: 0;
      background-image: url(../img/symbol.png);
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto;
      text-align: center;
      height: 120px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 20px;
  }

  .symbol p{
      font-family: 'Secular One', sans-serif;
      font-style:normal;
      font-size: 21px;
      width: 317px;
      text-align: center;
      margin-top:20px ;
  }

  footer{
      margin-top: 150px;
      margin-bottom: 150px;
  }
  .footer__row{
      color: white;
      justify-content: space-around;
      display: flex;
      
  }

  .nash_mail{
      text-align: center;
      font-size: 16px;

  }

  .mail_contact{
      width: 35%;
      font-family: 'SF Pro Display';
      
  }

  .write{
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      margin-top: 20px;
  }

  .write p{
    font-weight: 600;
  }
  

  .social_footer{
      width: 35%;
    font-family: 'SF Pro Display';
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_social{
      position: relative;
      bottom: 10px;

      display: flex;
      width: 150px;
      justify-content: space-between;
  }

  .writ12{
    position: relative;
    bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
  }

  .img_line_etaps{
      display: none;
  }


  .sections_zone{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 35%;
    font-size: 20px;
    font-family: 'SF Pro Display';
  }

  .main_section__row{
      display: flex;

      justify-content: space-around;
    
      width: 337px;
  }

  .line_container{
      text-align: center;
      height: 100%;
      width: 100%;
  }


.etaps{
    max-width: 1321px;
    margin: 0 auto;
    background: #232323;
    border-radius: 30px;
    margin-top: 40px;
    padding: 132px;
    position: relative;
    
}

.lineer_p_1{
    font-family: 'SF Pro Display';
    color: white;
    font-size: 22px;
    position: relative;
    right: 100px;
}

.lineer_p_2{
    font-family: 'SF Pro Display';
    color: white;
    font-size: 22px;
    position: absolute;
    top:29.5%;
    right: 300px;
    width: 520px;
    text-align: end;

}

.lineer_p_3{
    font-family: 'SF Pro Display';
    color: white;
    font-size: 22px;
    position: absolute;
    bottom:32.5%;
    left: 300px;
    width: 440px;
    text-align:left;

}

.lineer_p_4{
    font-family: 'SF Pro Display';
    color: white;
    font-size: 22px;
    position: absolute;
    right: 290px;

}

.img_of_clinet {
     margin-bottom: 6px;
}

.img_of_clinet img{
    border-radius: 50%;

}

@media screen and (max-width:1100px){

    .left h2{
        font-size: 30px;
        
    }

    .left span{
        font-size: 30px;
        
    }

    .portfolio__right{
        position: relative;
        bottom: 40px;
    }
    .about__company__content__wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }

    .about__company__content{
        padding-left: 56px;
    }

    .about__company__text{
        padding: 78px 0px 50px 0px;
    }

    .right{
        margin-left: 0px;
        margin-top: 0px;
        position: relative;
        bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .about__company__card{
        margin-top: 50px;
    }

    .portfolio__text h2{
        font-size: 30px;


    }

    .portfolio__text span{
        font-size: 30px;
    }
  
    .span_4, .span_5, .span_6, .span_7{
        font-size: 30px;

    }
}


@media screen and (max-width:1035px){
    .right{
        margin-left: 0px;
        margin-top: 30px;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .portfolio__right{
        position: relative;
        bottom: 0px;
    }

    .fullstack_text h1{
        font-size: 32px;
    }
}

@media screen and (max-width: 1330px){


    

    .why__row{
        display: block;
        align-items: center;
        justify-content: space-between;
        margin-top: 65px;
        padding-bottom: 40px;
    }
    ._2{
        margin-top: 0px;
    }
    

    .first_reason {
        background-color: #1B1919;
        width: 100%;
        height: 400px;
        padding-top: 72px;
        border-radius: 20px;
        display: flex;
        text-align: start;
        padding-bottom: 80px;
        
    }

    .conntent_text {
        text-align: start;
        margin-top: 30px;
            width: 45%;
            margin: 0 auto;
            margin-top: 55px;
            color: white;
            font-family: 'SF Pro Display';
            font-weight: 600;
            font-size: 28px;
            text-align: center;
       
    }

    .conntent_text p{
        text-align: left;
        padding-right: 20px;
    }


    .img_reason{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
    }
    
    .second_and_third {
        margin-top: 40px;
        width: 100%;
        height: 100%;
    }

 

    .main__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .main_title{
        font-size: 25px;
        width: 320px;
    }

    .main_title_and_subtitle{
        width: 45%;
    }

    .main_subtitle {
        width: 90%;

    }


     
    .main__img{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .main__img img{

        height: 100%;
       

    }

    .main_subtitle p {
        font-size: 17px;
    }

    .main_title{
        width: 100%;
        padding-right: 20px;
    }
    
    .third_reason{

        background-color:#1B1919 ;
        min-height: 400px;
        border-radius:20px;
        padding-top: 0px;
        padding-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    

    
    }

    .second_reason{

        background-color:#1B1919 ;
        min-height: 400px;
        border-radius:20px;
        padding-top: 0px;
        padding-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }

    .conntent_text{
        width: 60%;
        position: relative;
        top:20px
    }

    

}

@media screen and (max-width: 1230px){
    .lineer_p_1{
        font-family: 'SF Pro Display';
        color: white;
        position: relative;
        left: -30px;
    }
    
    .lineer_p_2{
        font-family: 'SF Pro Display';
        color: white;
        position: absolute;
        top:31%;
        right: 250px;
        width: 450px;
        text-align: end;
    
    }
    
    .lineer_p_3{
        font-family: 'SF Pro Display';
        color: white;
        position: absolute;
        bottom:32%;
        left: 260px;
        width: 440px;
        text-align:left;
    
    }
    
    .lineer_p_4{
        font-family: 'SF Pro Display';
        color: white;
    
        position: absolute;
        right: 250px;
    
    }
    
}


@media screen and (max-width: 990px){
    .our_serivce__row{
        max-width:1232px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
   }

   .etaps{
       width: 90%;
   }

   .liner_text{
       font-size: 16px;
   }


   .portfolio__right{
    position: relative;
    bottom: 0px;
}
.reasons__why__container{
    width: 90%;
}

.images__container{
    margin: 0 auto;
    width: 90%;
}
.our_servise{
    width: 90%;
}
   .portfolio__container{
    max-width: 90%;
    margin: 0 auto;
}

   .container__company {
    width: 90%;
    margin: 0 auto;

}
   .our_serivce_box{
    background: #1B1919;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    margin-top: 46px;
}
.opinion{
    width: 90%;
}
.conntent_text{
    font-size: 20px;
}

.main_title_and_subtitle{
    width: 70%;
}


.fullstack__row{
    flex-direction: column;
}

.fullstack_img{
    margin: 0 auto;
}


.lineer_p_1{
    font-family: 'SF Pro Display';
    color: white;
    position: relative;
    left: -10px;
}

.lineer_p_2{
    font-family: 'SF Pro Display';
    color: white;
    position: absolute;
    top:33%;
    right: 250px;
    width: 320px;
    text-align: end;

}

.lineer_p_3{
    font-family: 'SF Pro Display';
    color: white;
    position: absolute;
    bottom:33.5%;
    left: 240px;
    width: 320px;
    text-align:left;

}

.lineer_p_4{
    font-family: 'SF Pro Display';
    color: white;

    position: absolute;
    right: 250px;

}



}


@media screen and (max-width: 910px){
    .lineer_p_1{
        font-family: 'SF Pro Display';
        color: white;
        position: relative;
        left: 10px;
    }

    .lineer_p_2{
        font-family: 'SF Pro Display';
        color: white;
        position: absolute;
        top:33%;
        right: 220px;
        width: 320px;
        text-align: end;
    
    }
    
    .lineer_p_3{
        font-family: 'SF Pro Display';
        color: white;
        position: absolute;
        bottom:33.5%;
        left: 220px;
        width: 320px;
        text-align:left;
    
    }
    .lineer_p_4{
        font-family: 'SF Pro Display';
        color: white;
    
        position: absolute;
        right: 220px;
    
    }

}


@media screen and (max-width: 830px){
    .liner_text{
        font-size: 14px;
    }
    .lineer_p_2{
        font-family: 'SF Pro Display';
        color: white;
        position: absolute;
        top:34%;
        right: 220px;
        width: 280px;
        text-align: end;
    
    }
    
    .lineer_p_3{
        font-family: 'SF Pro Display';
        color: white;
        position: absolute;
        bottom:35%;
        left: 220px;
        width: 280px;
        text-align:left;
    
    }

   
}



@media screen and (max-width: 770px){

    .line_container{
        display: none;
    }

    .img_line_etaps{
        display: block;
        width: 100%;
        height: 100%;
    }
  
    .etaps{
        max-width: 1321px;
        margin: 0 auto;
        background: #232323;
        border-radius: 30px;
        margin-top: 40px;
        padding: 50px;
        position: relative;
        
    }
    

}

@media screen and (max-width: 530px){
    .img_line_etaps{
        display: none;
     
    }

    .steps_block{
        background-color: white;
        width: 145px;
        height: 145px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }


    .steps_block h2 {
        font-family: 'SF PRO DISPLAY';
        font-weight: 900;
        font-size: 20px;
    }


    .text_step{
        font-family: 'SF Pro Display';
        font-weight: bold;
        color: white;
        text-align: center;
        font-size: 24px;
        margin-top: 30px;
    }

    .box_of_mob_version{
        display: block;
        margin-top: 50px;
    }
    .mob_version{
        display: block;
        padding-bottom: 30px;
    }
    
}

@media screen and (max-width: 850px){
    .footer__row{
        flex-direction: column;
        display: flex;
        align-items: center;

    }

    footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mail_contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social_footer{
        margin-top: 50px;
    }
    .writ12{
        width: 300px;
        text-align: center;
    }

    .write{
        width: 300px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }

    .sections_zone{
        margin-top: 50px;
    }

    .main_section__row{
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 780px){
    .first_reason{
        flex-direction: column;
        height: 100%;
        text-align: center;
    }

    .conntent_text{
        width: 90%;
        margin: 0 auto;
    }


    .conntent_text p {
        text-align: center;
        padding-right: 0px;
        

    }

    .second_reason{
        height: 100%;
        padding: 0px;
        padding-bottom: 30px;
    }

    .third_reason{
        padding: 0px;
        padding-bottom: 30px;
        height: 100%;
    }


    .main__img{
        height: 100%;
        margin-top: 20px;
    }
    .main__row{
        flex-direction: column;
        text-align: center;
    }
    .main_title_and_subtitle{
     padding: 0px;
        margin-top: 40px;
    }
    .main_title {
        width: 100%;
    }

  

    .main_title {
        font-size: 18px;
        padding-right: 0px;
    }

    .main_subtitle{
        width: 100%;
  
    }

    .main_subtitle p{
        font-size: 14px;
  
    }
}


@media screen and (max-width: 700px){
    .imges_img img{
        border-radius: 15px;
    }

    .images__content__down{
        margin-top: 30px;
    }
}

@media screen and (max-width: 550px){
    .images__content__up{
        flex-direction: column;
    }
    .images__content__down{
        flex-direction: column;
        
    }

    .imges_img{
        width: 100%;
    
    }
}

@media screen and (max-width: 490px){
    .conntent_text p{
        font-size: 16px;
    }

    .first_reason{
        padding-bottom: 50px;
        width: 100%;
        padding-top: 0px;
  
    }
    .reasons__why__content{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;

    }

    .our_servise{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .why__row{
        padding-bottom: 0px;
        margin-top: 10px;
    }

    .our_serivce_box{
        height: 450px;
    }
    .fullstack{
        height: 450px;
    }

    .service_text{
        width: 80%;
    }

    .fullstack_text{
        margin-top: 30px;
    }
}

@media screen and (max-width: 400px){
    .conntent_text p{
        font-size: 14px;
    }
}

@media screen and (max-width: 550px){
    .service_text p{
        font-size: 24px;
    }
}


@media screen and (max-width: 940px){

    .header__text{
        font-size: 40px;
        line-height: 48px;
    }

    .header__sub__text{
        font-size: 18px;
        width: 430px;
    }


        .header__text{
            font-size: 25px;
            line-height: 30px;
        }
    
        .header__sub__text{
            font-size: 14px;
            width: 80%;
        }

   
}

@media screen and (max-width: 518px){
   
.about__company__card{
    flex-direction: column;
}

.line {
    margin-top: 10px;
    position: static;
    bottom: 0px;
    right: 0px;
    background: #626262;
    border-radius: 10px;
    width: 230px;
    height: 4px;
}

.about__company__card h3{
    margin-left: 0px;
    margin-top: 10px;

}

.about__company__card h5 {
    margin-left: 0px;
    margin-top: 10px;
}

.about__company__card h6 {
    margin-left: 0px;
    margin-top: 10px;
}

.left{
    width: 90%;
}

.left h2{
    font-size: 24px;
}
.left span{
    font-size: 24px;
}

.project{
    margin-left: 0px;
    margin-top: 10px;
}


.portfolio__text h2{
    width: 100%;
    font-size: 24px;

}

.portfolio__text span {
    font-size: 24px;
}

.portfolio__text .span4{
    font-size: 24px;
}   


}


@media screen and (max-width: 363px){

    .line {
        margin-top: 10px;
        position: static;
        bottom: 0px;
        right: 0px;
        background: #626262;
        border-radius: 10px;
        width: 70%;
        height: 4px;
    }
    

}